<head>
    <%- include('partials/head', {tituloWeb: 'Homepage'}) %>
<body>

    <%- include('partials/navigation')  %>

    <h1 style="text-align: center; margin-top: 2em;  text-shadow: 0.1em 0.1em 0.2em black;">Products</h1>

    <div class="container p-4">
        <div class="row">
            <% dataProduct.forEach((product) =>{ %>
                <div class="col-md-4">
                    <div class="card" style="margin-top: 1em;">
                        <div class="card-header" style="background-color: #52B2CF;">
                            <%= product.title %> 
                        </div>
                        <div class="card-body">
                            <b>Price:</b>
                            <%= product.price %>
                            <br>
                            <b>Stock: <%= product.stock %>  </b>
                            <br>
                            <b>ID: </b><%= product.id %>
                            <img src="<%= product.img %>" style="width: 20%; float: right">
                        </div>
                        <div class="card-footer" style="background-color: #52B2CF;">
                            <a href="/api/delete/<%= product.id %> " class="btn btn-danger">Delete</a>
                            <button onclick="add('<%= product.title %>','<%= product.id %>','<%= product.price %>')" type="submit" class="btn btn-primary" id="cart<%= product.id %>" style="float: right;">Cart</button>
                        </div>
                    </div>
                </div>
            <% }) %> 
        </div>
    </div>

    
    <script src="main.js"></script>

</body>
